header {
  height: 10vh;
  line-height: 10vh;
  background-color: #18094d;
}

a {
  text-decoration: none;
  color: #0d1363;
}

li {
  list-style: none;
}

.uppercase {
  text-transform: uppercase;
}

header ul li a {
  transition: all 1s ease-out;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: #fff;
  padding: 4px 10px;
  border-radius: 3px;
}

header ul li a:hover {
  color: #fff;
  background-color: #1aca9e;
}

.link li a {
  text-decoration: none;
  transition: all 0.2s ease;
}

.link li a:hover {
  transform: scale(1.2);
}
